In [1]:
import pandas as pd

In [4]:
cafe = pd.read_csv("~/Dev/cafe_sales/dataset/dirty_cafe_sales.csv")

Inspect this kaggle dataset

In [10]:
print(cafe.info())
print(cafe.describe())
print("Columns:")
print(cafe.columns)
print(cafe.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB
None
       Transaction ID   Item Quantity Price Per Unit Total Spent  \
count           10000   9667     9862           9821        9827
unique          10000     10        7              8          19
top       TXN_1961373  Juice        5            3.0         6.0
freq                1   1171     2013           2429         979

        Payment Method  Location Transaction Date
count             7421      6735             9841
unique               5         4              367
top     Digital Wallet  Takeaway          UNKNOWN
freq              2291      3022              159
Columns:
Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')
  Transaction ID      Item Quantity Price Per Unit Total Spent  \
0    TXN_1961373    Coffee        2            2.0         4.0
1    TXN_4977031      Cake        4            3.0        12.0
2    TXN_4271903    Cookie        4            1.0       ERROR
3    TXN_7034554     Salad        2            5.0        10.0
4    TXN_3160411    Coffee        2            2.0         4.0
5    TXN_2602893  Smoothie        5            4.0        20.0
6    TXN_4433211   UNKNOWN        3            3.0         9.0
7    TXN_6699534  Sandwich        4            4.0        16.0
8    TXN_4717867       NaN        5            3.0        15.0
9    TXN_2064365  Sandwich        5            4.0        20.0

   Payment Method  Location Transaction Date
0     Credit Card  Takeaway       2023-09-08
1            Cash  In-store       2023-05-16
2     Credit Card  In-store       2023-07-19
3         UNKNOWN   UNKNOWN       2023-04-27
4  Digital Wallet  In-store       2023-06-11
5     Credit Card       NaN       2023-03-31
6           ERROR  Takeaway       2023-10-06
7            Cash   UNKNOWN       2023-10-28
8             NaN  Takeaway       2023-07-28
9             NaN  In-store       2023-12-31

In [13]:
for n in cafe:
    count = cafe[n].isnull().sum()
    print(n, '-', count)

Transaction ID - 0
Item - 333
Quantity - 138
Price Per Unit - 179
Total Spent - 173
Payment Method - 2579
Location - 3265
Transaction Date - 159